* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url(../rescources/images/html.png);
}

#main {
    padding-top: 50px;
}

nav {
    background-color: cadetblue;
    width: 100%;
    height: auto;
    position: fixed;
    margin-top: -25px;
    z-index: 100;
}

.nav_item {
    display: inline-block;
    font-weight: bold;
    padding: 10px;
}

.nav_item a {
    color: white;
}

.nav_item:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

h1 {
    text-align: center;
    font-weight: bold;
    display: block;
    max-width: max-content;
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 5%;
    padding: 5px;
}

h2 {
    text-align: center;
}

table {
    border: 1px solid orange;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.85);
}

td {
    padding: 2px 5px;
    border-bottom: 1px solid orange;
}

th {
    background-color: orange;
    color: white;
}

.code {
    background-color: antiquewhite;
    color: rgba(75,75,75);
}

#html {
    position: relative;
}

#html:before{
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: 20%;
    z-index: -1;
    background-image: url(/Users/liambrown/Documents/Developement/Web/CheatSheet/rescources/images/html.png);
    background-repeat: repeat-y;
    opacity: 25%;
    overflow: hidden;
    transform: rotate(10deg);
}

.css-table th{
    background-color:cornflowerblue;
}

.css-table td {
    border-bottom: 1px solid cornflowerblue;
}

#css {
    position: relative;
}

#css:before{
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: 20%;
    left: 10%;
    z-index: -2;
    background-image: url(/Users/liambrown/Documents/Developement/Web/CheatSheet/rescources/images/css.png);
    background-repeat: repeat-y;
    opacity: 25%;
    overflow: hidden;
    transform: rotate(-10deg);
}

